<div class="mini-map-shell">
  <div class="map-toolbar">
    <button class="map-toolbar-button" id="mapInteractionToggle" type="button">Activeer kaart</button>
    <button class="map-toolbar-button" id="mapResetButton" type="button">Reset positie</button>
  </div>
  <div class="map-guard" id="mapGuard">
    <div class="map-guard-card">
      <strong>Kaart vergrendeld</strong>
      <span>Klik eerst op de kaart om in en uit te zoomen.</span>
    </div>
  </div>
  <div id="map" class="mini-map"></div>
</div>
